<!DOCTYPE html>
<html>

<link rel="stylesheet" href="/static/css/base.css">
<link rel="stylesheet" href="/static/css/browse.css">
<link rel="stylesheet" href="/static/css/search_result.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body ng-app = "myApp" ng-controller = "bookCtrl" >

<div class="content search-result">
    <div class="search-result-title row">
        <h1 class="title">Search</h1>
    </div>
    <div>
            <form ng-submit = "change()">

            <input type="text"
                   class="search-book"
                   name="title"
                   placeholder="Input search terms..."
                   ng-model="searchText"
            />

            <div class="justify-content-end">
                <button type="submit" class="button-search-book" id="button-search-book"><span>Search</span></button>
            </div>
            </form>

        <div ng-show="load" class="loader"></div>
        <div id="results">
            <div class="search-result-title row" ng-show ="empty">
                <div class="result_empty">
                    <h2> There is no result </h2>
                </div>
            </div>
            <div ng-show ="search" ng-repeat= "book in books" class="result row justify-content-between">

                <div class="result-img">
                    <img
                        src= {{book.imgPath}}
                    />
                </div>
                <div class="result-content">
                    <h1 class="result-title">{{book.title}}</h1>
                    <h2 class="result-author">{{book.authors}} - {{book.price}}</h2>
                    <p class="result-description">
                        {{book.description}}
                    </p>
                    <div class="justify-content-end">
                        <a href="http://localhost:4000/book/?book_id={{book.id}}">
                            <button type="submit"><span>Detail</span></button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="/static/js/browse.js"></script>
<script src="/static/js/book.js"></script>
</body>
</html>